<% layout('/layout/layout.ejs') -%>
<% block('page_title', 'index') -%>
<% block('page_css', '/styles/pages/index.css') -%>
<% block('page_js', '/scripts/pages/index.js') -%>
<div id="app"></div>
<p><%= page%> page!</p>
<div id="example"></div>
