@import "includes/tools/rem.scss";
body {
    background: #DDD;
    padding: 10px 40px;
    text-shadow: rem(5px 5px #FFF, -1px -1px #FFF);
    //text-shadow: 0.05rem 0.05rem #FFF, -0.01rem -0.01rem #FFF;
}